.someClass {
    border: 5px solid #287202;
    background-color: lime;
}

.errorClass {
    border: 2px solid red;
}
.block {
    margin:10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.redError {
    color: white;
    background-color: red;
}
.blueError {
    color: white;
    background-color: #0048ff;
}